
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p>16)	Com o que a organização deve contar para que uma estratégia funcional seja implementada com sucesso?</p>
                  <h1>ALTERNATIVAS</h1>
                    <p> <a href="<%- root %>/fase9 " class = "btn btn-primary button button-primary button-neutro"> Empenho e conhecimento de seus funcionários. </a>

        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro">	Com a adesão de seus clientes mais fiéis. </a> 
                        
        </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Com a grande influência de seus investidores, pois eles que iram investir na implementação da estratégia. </a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 