
    <form>
      <div container-fluid>
          <div class="row">
              <div class="col-sm-6">
                <img src="/public/assets/baixa.png"/>
              </div>
              <div class="col-sm-6 perguntas">
                  <h1>PERGUNTA</h1>
                  <p> 3)	Por que a fase de avaliação e controle do processo de planejamento pode ser considerada um final e um começo?
                  </p>
                  <h1>ALTERNATIVAS</h1>
                  <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> Começo --> servem para analisar quantas pessoas aprovam a ideia.
                    <br>Final --> serve para comparar com a do começo.</br>
                    </a>
                        
                  </p>
                  <p> <a href="<%- root%>/pergunta4" class = "btn btn-primary button button-primary button-neutro">	Final --> avaliação e controle ocorrem após uma estratégia ser implementada.
                    <br>Começo --> servem como o ponto de partida para o processo de planejamento no próximo ciclo.</br>
                    </a>
        
                </p>
        <p> <a href="<%-root%>/gameover" class = "btn btn-primary button button-primary button-neutro"> São realizadas duas avaliações em um mesmo processo de planejamento. Uma, logo depois de ser introduzida a ideia. E outra, logo que acaba o ciclo, essa com perguntas diferentes da inicial, para poder observar por outros pontos de vista.</a> 
                        
        </p>
                  
              </div>
          </div>
      </div>
  </form>

 